div#formContainer {
    label{
        color: #939393;
        padding-bottom: 0.5rem;
    }
    input, textarea{
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        color:white;
        font-size: 1.25rem;
        background: #100f0f;
        border:none;
    /* border-bottom:1px solid white; */
    }
    
}

#collabCheckmark{
    opacity: 0;
    transition: opacity 1s ease;
    i.fa-solid {
    text-shadow: 1px -3px 10px var(--prim-color);
    font-size: 5rem;
    color: #000000;

}
}
#collabForm{
    opacity: 1;
    transition: opacity 0.3s ease;
}
.moveLater {
    transition: opacity 0.2s ease;
}
#collabContent {
    min-height: 90%;
    transition: min-height 1s ease;
} 
p.text-secondary.fs-6.m-0.fs-6.font-3.p-5.text-center.pt-2.mb-2.d-sm-block.pb-2 {
    color: #d0d0d0!important;
}