.carousel-indicators {
    justify-content: flex-start;
    li {
        width: 2rem;
        height: 0.12rem;
        opacity: 0.5; 
        background: var(--prim-color); 
    }


}
    ::marker {
        /* display: list-item; */
        font-size: 0;
        /* font-size: 3rem; */
        /* margin: 0.5rem; */
    }

.carousel-control-next-icon {
    filter: drop-shadow(1px 1px 1px black) !important;
}
.carousel-control-prev-icon {
    filter: drop-shadow(-1px -1px 1px black) !important;
}
.killCarousel{
    filter:brightness(0.4);
    transition: filter .7s ease;
    img {
        border-radius: 0.25rem;
    }
    &:hover{
        cursor: pointer;
        filter: brightness(0.48);
        .openingBox .dim{
            opacity: 1;
        }
    }
    
}
.killCarousel:not(.carousel-item) {
 max-width:25%;
}


.carousel-item{

}
.openingBox  span, .openingBox i{
                opacity:1;
                transition: opacity 0.4s ease-in;
            }

.openingBox h1{
    transition: transform 0.8s ease, text-shadow 0.8s ease;
}
/*active non carousel item killCarousel containers are brighter */
.killCarousel.activated {
        filter:brightness(1.1)!important;
        .openingBox h1{
            transform: translateY(1.2rem);
            text-shadow: 2px 2px black;
        }
        .openingBox .dim{
                opacity: 1;
            }
            .openingBox  span, .openingBox i{
                opacity:0;
            }


}


 .galleries-container {
    opacity:0;
    transition: opacity 2s ease ;
 }
 .galleries-container:not(.active) {
     display:none;

 }
 .galleries-container.active {
    opacity: 1;

 }