body {
    --prim-color: #ab000c;
    background: black;
}
html, body {
    margin: 0;
    height: 100vh;
}
.max-vh-100{
    max-height:100vh!important;
}
.max-vh-50{
    max-height:50vh!important;
}
.modal {
        --bs-modal-width: auto;

}
div#navbarNavDropdown ul {
    font-size: 0.7rem!important;
}

.pl-2 {
    padding-left:1.25rem!important;
}
.pos-c-b {
    background-position:center bottom !important;
}
.btn-outline-danger {
    --bs-btn-color: var(--prim-color);
    --bs-btn-border-color: var(--prim-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--prim-color);
    --bs-btn-hover-border-color: var(--prim-color);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--prim-color);
    --bs-btn-active-border-color: var(--prim-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--prim-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--prim-color);
    --bs-gradient: none;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--prim-color);
    --bs-btn-border-color: var(--prim-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--prim-color);
    --bs-btn-disabled-border-color: var(--prim-color);
}

.bg-dark {
    background: black !important;
}

nav.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 39%), transparent 88%) !important;
    z-index: 8;
}

#logo {
    width: 2.3rem;
    height: auto;
    border-radius: 50%;
    margin-left: 0.5rem;
    border: 1px solid white;
}

#icons i {
    /* background: rgba(0,0,0,0.5); */
    padding: 0.4rem;
    border-radius: 50%;
    /* color: red !important; */
    /*border: 1px inset white;*/
}

img.p-1.img-fluid {
    padding: 2px !important;
    border-radius: 5px;
}

#displayBkg {
    clip-path: border-box; 
    background: black;
}

#openingCarousel {
    display: flex;
    flex-direction: row;
    max-height: 100vh;

    >* {
        flex: 0 0 100%;
    }
}

#openingCarousel .group {
    /* padding: 10px; */
    display: flex;
}

.hidden {
    display: none;
}



.flex-col {
    flex-direction: column !important;
}

.nowrap {
    flex-wrap: nowrap;
}

.position-relative {
    position: relative !important;
}

.pt-0-3 {
    padding-top: 0.37rem;
}

#overlay-gallery {
    background: linear-gradient(0deg, black, transparent 36%);
    top: 3px;
    transition: background 1s ease-in-out !important;
    z-index: 6;
}

.submenu h1 {
    color: #4b4b4b;
}

.submenu h1.active {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    color: white !important;
}

.fs-5 {
    font-size: 1.17rem !important;
}

.fs-7 {
    font-size: 0.84rem;
}

#group2 {
    transform: translateX(300%);
    animation: scrolling2 50s linear infinite;
}

.pause {
    animation-play-state: paused;
}

div.openingBox {
    bottom: 1rem;
    z-index: 7;
    /* backdrop-filter: blur(23px); */
}

div.openingBox:hover {
    cursor: pointer;

    
}
.dim {
    opacity: 0.7;
    transition: opacity 0.7s ease;
}
.dim:hover {
    cursor:pointer;
    opacity: 1;
    }

/*bold headers
*/
.font-1 {
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
}

/*//regular text
*/
.font-2 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;


}

.font-2r {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

/*//bold subheader*/
.font-3 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}


#collab {
    color: white;
    background: linear-gradient(to bottom right, black, transparent 33%), radial-gradient(ellipse at 0% 26%, hsl(0 75% 13% / 1) 0px, transparent 45%), radial-gradient(ellipse at 108% 100%, #590d0d 0px, transparent 44%);
    min-height: 55vh;
    justify-content: space-evenly;

    button {
        background: transparent;
        border: 1px solid var(--prim-color);
        color: white;
    }

    .subtext {
        color: #cfcfcf
    }
}


.my-fs1 {
    font-size: 2.0rem;
}

.my-fs4 {
    font-size: 1.3rem;
}
#svg885 >path {
    fill:var(--prim-color) !important;
}

.thmbs {
    flex-wrap: wrap;
    
    .thmb > div:nth-child(1) {
        img {
        border-radius: 10px 0 0 10px;
        }
    }
    .thmb > div:nth-child(2) {
        background: #121212;
    }
    .thmb > div:nth-child(3) {
        background:#121212;
        border-radius:0px 10px 10px 0;
    }
    .thmb-name {
        font-weight: bold;
    }

    span.thmb-description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    

    .thmb-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .thmb-description,
        .thmb-action {
            color: #d3d3d3;
        }

        .thmb-btn {
            font-weight: bold;
        }
    }

    .thmb-btn {
        align-items: center;
        justify-content: center;
    }

    .thmb-btn button {
        height: fit-content;
    }
}



.primary-icon {
    color: var(--prim-color);
}

.group:not(#group2) {
    /* ... */
    will-change: transform;
    /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 50s linear infinite;


}

.group img {
    padding: 0 12px !important;
    object-fit: cover;
    object-position: center 30%;
}
.divider {
    max-height: 3rem;
    height: 2.5rem;
    background: url('../components/photoreelDivider.png');
    background-size: contain;
}
.marquee-2 { 
    overflow: hidden;
    width: 100%;
    margin: 0;
    >* {
        flex: 0 0 100%;
    }
    >div.divider {
        animation: scrolling3 15s linear infinite;
    }
}
.footerLink {
    text-decoration: none;
    color:white;
    opacity: 0.6;
    line-height: 2rem;
    transition: opacity 0.3s linear;
}
.footerLink:hover, .footerLink.active {
    text-decoration: none;
    opacity: 1;
}
@keyframes scrolling3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }
}

@keyframes scrolling2 {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(-100%);
    }
}
