html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
    .carousel .openingBox .my-fs1 {
      font-size: 1.1rem;
    }
    .carousel .openingBox .my-fs4 {
        font-size: 0.7rem;
    }
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
  .carousel .openingBox .my-fs1 {
      font-size: 1.30rem;
    }
    .carousel .openingBox .my-fs4 {
        font-size: 1rem;
    }

}
@media (min-width: 992px) {
  html {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.7rem;
  }
}
